{% extends 'base.html'%}
{% load static %}
{% block titulo %}
    Nuevo de videojuego
{% endblock titulo %}
{% block contenido %}
<h1>Nuevo artículo</h1>
<form method="post">
   {% csrf_token %}
    {{form.as_p}}
    <input class = "btn btn-outline-success btn-sm" type = "submit" value="Agregar">
    <a class="btn btn-outline-danger btn-sm" href="{% url 'lista_articulos' %}"'>Cancelar</a>

</form>
{% endblock contenido %}

{% block scripts %}
{ % comment %} <script src="{% static 'dist/js/pages/dashboard3.js' %}"></script>
{% endblock scripts %}